body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#produtos-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.big-box {
    margin: 2.5rem 0;
}

.produto-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1A273E;
}

.add-produto {
    display: flex;
    flex-direction: column;
    width: 663px;
    min-height: 180px;
    border: #FF6F00 solid 2px;
    border-radius: 10px;
    margin: 1rem 0;
}

.add-produto p:first-child {
    display: flex;
    justify-content: center;
    background-color: #455A64;
    border-bottom: #FF6F00 solid 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
}

.add-produto p {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;
    padding: 0;
}

.add-prod-img {
    display: flex;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.img-prod-padrao {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
  
.modal-content input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
  
.modal-content button {
    margin: 5px;
    padding: 10px 20px;
}

.remove-btn {
    border-top: #FF6F00 solid 2px;
    background-color: #ffffff00;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.remove-btn:hover {
    background-color: transparent;
    border: #FF6F00 solid 2px;
}

.dest-produto {
    display: flex;
    gap: 10px;
    margin: 1rem;
}

.prod-btn {
    padding: 10px 20px;
    background-color: #455A64;
    border: #FF6F00 solid 1px;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.added-produto {
    display: flex;
    flex-direction: column;
    width: 663px;
    min-height: 180px;
    border: #FF6F00 solid 2px;
    border-radius: 10px;
    margin: 1rem 0;
}

.added-produto p {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    padding: 0;
}

.added-produto img {
    display: flex;
    align-self: flex-start;
    margin: 1rem;
    width: 120px;
    height: auto;
}

.nome-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    border-bottom: #FF6F00 solid 2px;
}

.img-desc {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    height: 100%;
}

.img-prod-padrao {
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.descricao-prod {
    margin: 0;
    color: white;
    line-height: 1.5;
}

.texto-e-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 100%;
    margin-top: .5rem;
}